@charset "UTF-8";
body {
  font-family: "Playfair", serif;
  background-color: #f5f5f5;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.wrapper {
  padding-inline: 4%;
  margin-inline: auto;
}

header {
  width: 100%;
}
header .top {
  width: 100%;
  height: 100vh;
  background-image: url(../img/エンジェルロード\ \(2\).jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}
header .top .logo_title {
  width: 200px;
  height: auto;
}

.open .header-bar .toggle_btn span:first-child {
  transform: rotate(-315deg);
  top: 50%;
}

.open .header-bar .toggle_btn span:nth-child(2) {
  opacity: 0;
}

.open .header-bar .toggle_btn span:last-child {
  transform: rotate(315deg);
  top: 50%;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  background-color: #f5f5f5;
}
.header-bar .toggle_btn {
  position: relative;
  cursor: pointer;
  width: 100px;
  height: 100px;
  transition: all 0.5s;
  z-index: 30;
}
.header-bar .logo-mark .logo {
  width: auto;
  height: 100px;
}
.header-bar .logo-mark .site-title {
  margin-left: 16px;
}
.header-bar .toggle_btn span {
  position: absolute;
  width: 100px;
  height: 1px;
  background-color: #000;
  transition: all 0.5s;
}
.header-bar .toggle_btn span:first-child {
  top: 20%;
}
.header-bar .toggle_btn span:nth-child(2) {
  top: 50%;
}
.header-bar .toggle_btn span:last-child {
  top: 80%;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(128, 128, 128, 0.5);
  display: none;
}

.open .mask {
  display: block;
}

.navi {
  visibility: hidden;
  position: fixed;
  left: -300px;
  z-index: 100;
  top: 0;
  width: 600px;
  height: 100vh;
  text-align: center;
  padding: 128px 16px 0px 16px;
  transition: all 0.5s ease-in;
  background-color: #d3d3d3;
}
.navi ul {
  display: inline-block;
}
.navi ul li {
  font-size: 48px;
  margin-bottom: 32px;
  border-bottom: 1px solid #000;
}

.navi_spot {
  visibility: hidden;
  position: fixed;
  left: -300px;
  z-index: 100;
  top: 0%;
  width: 600px;
  height: 100vh;
  text-align: center;
  padding: 128px 16px 0px 16px;
  transition: all 0.5s ease-in;
  background-color: #d3d3d3;
}
.navi_spot ul {
  display: inline-block;
}
.navi_spot ul li {
  font-size: 48px;
  margin-bottom: 32px;
  border-bottom: 1px solid #000;
}

.open .navi {
  visibility: visible;
  left: 0px;
}

.open .navi_spot {
  visibility: visible;
  left: 0px;
}

main .mainvisual {
  width: 100%;
  height: 1280px;
  margin-bottom: 128px;
}
main .mainvisual .background-img {
  width: 100%;
  height: 100%;
  background-image: url(../img/meiro\ 1.png);
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
main .mainvisual .background-img p {
  font-size: 32px;
  color: #fff;
}
main .mainvisual .background-img p:first-child {
  margin-top: 48px;
}
main .mainvisual .background-img p:last-child {
  margin-left: 24px;
}
main .mainvisual .background-img span {
  color: #6cccea;
  font-size: 48px;
}
main .mainvisual_spot, main .mainvisual_gourmet {
  width: 100%;
  margin-bottom: 128px;
  padding-top: 132px;
}
main .mainvisual_spot .background-img_spot, main .mainvisual_gourmet .background-img_spot, main .mainvisual_gourmet .background-img_gourmet {
  background-image: url(../img/エンジェルロード.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .mainvisual_spot .background-img_spot .title_spot, main .mainvisual_gourmet .background-img_spot .title_spot, main .mainvisual_gourmet .background-img_gourmet .title_spot {
  font-size: 32px;
  color: #fff;
}
main .mainvisual_spot .background-img_spot p, main .mainvisual_gourmet .background-img_spot p, main .mainvisual_gourmet .background-img_gourmet p {
  font-size: 24px;
  color: #fff;
}
main .mainvisual_gourmet .background-img_gourmet {
  background-image: url(../img/shoyusoft.jpg);
  filter: brightness(90%);
  background-position: left;
}
main .mainvisual_gourmet .title_gourmet {
  font-size: 48px;
  color: #fff;
}
main #about {
  margin-bottom: 128px;
}
main #about .sec-title {
  text-align: center;
  position: relative;
  font-size: 96px;
  color: #6cccea;
  text-decoration: underline;
  padding-bottom: 64px;
}
main #about .contents {
  display: flex;
  justify-content: space-between;
}
main #about .contents .text {
  width: 47%;
  padding-top: 128px;
}
main #about .contents .text .bold {
  font-size: 32px;
  margin-bottom: 128px;
  line-height: 48px;
  text-decoration: underline;
  text-decoration-color: #6cccea;
  text-decoration-thickness: 4px;
}
main #about .contents .text p {
  line-height: 48px;
  font-size: 24px;
}
main #about .contents .map {
  width: 50%;
}
main #about .contents .map img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 75% 25%;
     object-position: 75% 25%;
  box-shadow: -10px 14px 12px 19px rgba(17, 17, 26, 0.08);
}
main #spot {
  margin-bottom: 128px;
}
main #spot .sec-title {
  text-align: center;
  position: relative;
  font-size: 96px;
  color: #6cccea;
  text-decoration: underline;
  padding-bottom: 64px;
}
main #spot .box_1,
main #spot .box_2,
main #spot .box_3,
main #spot .box_4 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
  width: 100%;
}
main #spot .box_1 img,
main #spot .box_2 img,
main #spot .box_3 img,
main #spot .box_4 img {
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
main #spot .box_1 .description,
main #spot .box_2 .description,
main #spot .box_3 .description,
main #spot .box_4 .description {
  font-size: 20px;
  width: 47%;
  font-weight: normal;
  line-height: 32px;
  text-align: center;
}
main #spot .box_1 .description .description-title,
main #spot .box_2 .description .description-title,
main #spot .box_3 .description .description-title,
main #spot .box_4 .description .description-title {
  font-size: 32px;
  margin-block: 32px;
  text-align: center;
  font-weight: bold;
  position: relative;
}
main #spot .box_1 .description .description-title::after,
main #spot .box_2 .description .description-title::after,
main #spot .box_3 .description .description-title::after,
main #spot .box_4 .description .description-title::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent transparent #000000;
  border-width: 12px 0px 12px 20.78px;
  top: -100%;
  left: 0%;
}
main #spot .box_1 .description .description-title::before,
main #spot .box_2 .description .description-title::before,
main #spot .box_3 .description .description-title::before,
main #spot .box_4 .description .description-title::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 60px;
  background-color: #000;
  top: -100%;
  left: 0%;
}
main #spot .box_1 .description p:last-child,
main #spot .box_2 .description p:last-child,
main #spot .box_3 .description p:last-child,
main #spot .box_4 .description p:last-child {
  text-align: left;
  padding-block: 64px;
}
main #spot .box_1 .description .detail-btn,
main #spot .box_2 .description .detail-btn,
main #spot .box_3 .description .detail-btn,
main #spot .box_4 .description .detail-btn {
  text-align: center;
  display: inline-block;
  margin-top: 200px;
  font-size: 24px;
  padding: 16px 32px;
  background-color: #ff9158;
  color: #fff;
  transition: all 0.5s;
}
main #spot .box_1 .description .detail-btn:hover,
main #spot .box_2 .description .detail-btn:hover,
main #spot .box_3 .description .detail-btn:hover,
main #spot .box_4 .description .detail-btn:hover {
  transform: scale(1.2);
}
main #gourmet {
  margin-bottom: 128px;
}
main #gourmet .sec-title {
  text-align: center;
  position: relative;
  font-size: 96px;
  color: #6cccea;
  text-decoration: underline;
  padding-bottom: 64px;
}
main #gourmet .slider {
  width: 100%;
  height: auto;
  margin-inline: auto;
  display: flex;
}
main #gourmet .slider img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-inline: 16px;
}
main #gourmet .slick-prev:before,
main #gourmet .slick-next:before {
  color: #6cccea;
  font-size: 36px;
}
main #gourmet .slick-dots {
  left: 50%;
  transform: translateX(-50%);
}
main #detail_spot {
  margin-bottom: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
}
main #detail_spot p:first-child {
  position: relative;
  margin-inline: auto;
  text-align: center;
  width: 55%;
  margin-bottom: 32px;
}
main #detail_spot p:first-child::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 1px;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000;
  margin-left: 32px;
}
main #detail_spot p:first-child::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 1px;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000;
  margin-right: 32px;
}
main #detail_spot .first-title,
main #detail_spot .second-title {
  font-size: 32px;
  position: relative;
}
main #detail_spot .first-title::before,
main #detail_spot .second-title::before {
  position: absolute;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8px;
  width: 160px;
  height: 10px;
  background: rgba(108, 204, 234, 0.5);
}
main .detail_gourmet {
  padding-bottom: 128px;
}
main .detail_gourmet p:first-child {
  text-align: center;
  font-size: 32px;
  margin-bottom: 64px;
}
main .detail_gourmet .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4%;
}
main .detail_gourmet .grid .olive {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
main .detail_gourmet .grid .olive img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .detail_gourmet .grid .olive .name {
  font-size: 24px;
  margin-block: 16px;
}
main .detail_gourmet .grid .olive .description {
  text-align: left;
  margin-block: 16px;
}
main .detail_gourmet .grid .olive .place-btn_1,
main .detail_gourmet .grid .olive .place-btn_2,
main .detail_gourmet .grid .olive .place-btn_3,
main .detail_gourmet .grid .olive .place-btn_4 {
  display: inline-block;
  padding: 16px 32px;
  background-color: #ff9158;
  color: #fff;
  border-radius: 5px;
  width: auto;
  justify-self: center;
  transition: all 0.5s;
}
main .detail_gourmet .grid .olive .place-btn_1:hover,
main .detail_gourmet .grid .olive .place-btn_2:hover,
main .detail_gourmet .grid .olive .place-btn_3:hover,
main .detail_gourmet .grid .olive .place-btn_4:hover {
  transform: scale(1.2);
}
main #access_spot {
  padding-bottom: 128px;
}
main #access_spot .sec-title {
  text-align: center;
  position: relative;
  font-size: 96px;
  color: #6cccea;
  padding-bottom: 64px;
  text-decoration: underline;
}
main #access_spot .place_spot {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
main #access_spot .place_spot .google-map {
  width: 50%;
}
main #access_spot .place_spot .info {
  display: flex;
  flex-wrap: wrap;
  font-size: 24px;
  width: 40%;
}
main #access_spot .place_spot .info dd {
  width: 30%;
  border-bottom: 1px solid #000;
}
main #access_spot .place_spot .info dt {
  width: 70%;
  border-bottom: 1px solid #000;
}
main #access_gourmet {
  width: 100%;
  text-align: center;
}
main #access_gourmet .sec-title {
  text-align: center;
  position: relative;
  font-size: 96px;
  color: #6cccea;
  text-decoration: underline;
  padding-bottom: 64px;
}
main #access_gourmet .flex {
  display: flex;
  justify-content: space-between;
}
main #access_gourmet .flex .map_gourmet {
  width: 50%;
  max-width: 800px;
  position: relative;
}
main #access_gourmet .flex .map_gourmet img {
  width: 100%;
  height: auto;
}
main #access_gourmet .flex .map_gourmet #pin,
main #access_gourmet .flex .map_gourmet #pin-olive_4,
main #access_gourmet .flex .map_gourmet #pin-olive_3,
main #access_gourmet .flex .map_gourmet #pin-olive_2,
main #access_gourmet .flex .map_gourmet #pin-olive_1 {
  position: absolute;
  cursor: pointer;
}
main #access_gourmet .flex .map_gourmet #pin-olive_1 {
  right: 21%;
  top: 16%;
}
main #access_gourmet .flex .map_gourmet #pin-olive_2 {
  right: 42%;
  top: 41%;
}
main #access_gourmet .flex .map_gourmet #pin-olive_3 {
  right: 19%;
  top: 18%;
}
main #access_gourmet .flex .map_gourmet #pin-olive_4 {
  right: 23%;
  top: 17%;
}
main #access_gourmet .flex .map_gourmet #pin .pin-icon,
main #access_gourmet .flex .map_gourmet #pin-olive_1 .pin-icon,
main #access_gourmet .flex .map_gourmet #pin-olive_2 .pin-icon,
main #access_gourmet .flex .map_gourmet #pin-olive_3 .pin-icon,
main #access_gourmet .flex .map_gourmet #pin-olive_4 .pin-icon {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #e95464;
}
main #access_gourmet .flex .map_gourmet #pin .pin-icon:before,
main #access_gourmet .flex .map_gourmet #pin-olive_1 .pin-icon:before,
main #access_gourmet .flex .map_gourmet #pin-olive_2 .pin-icon:before,
main #access_gourmet .flex .map_gourmet #pin-olive_3 .pin-icon:before,
main #access_gourmet .flex .map_gourmet #pin-olive_4 .pin-icon:before {
  position: absolute;
  bottom: -7px;
  left: 0px;
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #e95464 transparent transparent transparent;
  border-width: 15px 10px 0 10px;
}
main #access_gourmet .flex .map_gourmet #pin .pin-icon:after,
main #access_gourmet .flex .map_gourmet #pin-olive_1 .pin-icon:after,
main #access_gourmet .flex .map_gourmet #pin-olive_2 .pin-icon:after,
main #access_gourmet .flex .map_gourmet #pin-olive_3 .pin-icon:after,
main #access_gourmet .flex .map_gourmet #pin-olive_4 .pin-icon:after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #fff;
  content: " ";
}
main #access_gourmet .flex .explanation {
  position: relative;
  text-align: right;
  width: 45%;
}
main #access_gourmet .flex .explanation_1 {
  position: absolute;
  top: 10%;
  right: -500px;
}
main #access_gourmet .flex .explanation_2 {
  position: absolute;
  top: 37%;
  right: -500px;
}
main #access_gourmet .flex .explanation_3 {
  position: absolute;
  top: 63%;
  right: -500px;
}
main #access_gourmet .flex .explanation_4 {
  position: absolute;
  top: 90%;
  right: -500px;
}
main #access_gourmet .flex .explanation a {
  position: relative;
  display: none;
  background-color: #ff9158;
  padding: 16px 24px;
  border-radius: 20px;
  color: #fff;
  font-size: 28px;
  width: auto;
}
main #access_gourmet .flex .explanation a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 90%;
  left: 95%;
  border-style: solid;
  border-color: #ff9158 transparent transparent transparent;
  border-width: 20.78px 12px 0px 12px;
}
main #access_gourmet .flex .explanation a.active {
  right: 0;
  display: inline-block;
}
main .contact {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  padding-bottom: 64px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 128px;
}
main .contact .sec-title {
  text-align: center;
  position: relative;
  font-size: 96px;
  color: #6cccea;
  text-decoration: underline;
  padding-bottom: 64px;
}
main .contact label {
  font-size: 32px;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
main .contact input[type=text],
main .contact input[type=email],
main .contact textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 32px;
}
main .contact input[type=text]:focus,
main .contact input[type=email]:focus,
main .contact textarea:focus {
  border-color: #66afe9;
  outline: none;
}
main .contact button {
  width: 100%;
  padding: 10px;
  background-color: #ff9158;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
main .contact button:hover {
  background-color: #ffab8c;
}

#pin-olive_1.active,
#pin-olive_2.active,
#pin-olive_3.active,
#pin-olive_4.active {
  animation: bounce 3s ease;
}

footer {
  border-top: 1px solid #000;
  padding-top: 32px;
}
footer img {
  width: 200px;
  height: auto;
}
footer .list-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
footer .list-wrapper .footer-list .list-title {
  font-size: 40px;
}
footer .list-wrapper .footer-list li {
  font-size: 16px;
  list-style: circle;
  margin-left: 24px;
  margin-bottom: 16px;
}
footer .copyright {
  text-align: center;
  padding-block: 24px;
}

@keyframes bounce {
  0% {
    transform: scale(1);
    /* 初期スケール */
  }
  10% {
    transform: scale(3);
    /* 最大スケールアップ */
  }
  40% {
    transform: scale(2);
    /* 少し戻る */
  }
  50% {
    transform: scale(2.8);
    /* 再度スケールアップ */
  }
  60% {
    transform: scale(2);
    /* 更に少し戻る */
  }
  70% {
    transform: scale(2.3);
    /* 再度少しスケールアップ */
  }
  90% {
    transform: scale(1.5);
    /* また少し戻る */
  }
}
@media screen and (max-width: 768px) {
  main #about .contents {
    flex-direction: column-reverse;
  }
  main #about .contents .map {
    width: 100%;
  }
  main #about .contents .text {
    width: 100%;
    padding-top: 32px;
  }
  main #about .contents .text .bold {
    margin-bottom: 32px;
  }
  main #spot .box_1,
  main #spot .box_3 {
    flex-direction: column;
  }
  main #spot .box_1 img,
  main #spot .box_3 img {
    width: 100%;
    margin-bottom: 32px;
  }
  main #spot .box_1 .description,
  main #spot .box_3 .description {
    width: 100%;
  }
  main #spot .box_1 .description .detail-btn,
  main #spot .box_3 .description .detail-btn {
    margin-top: 64px;
  }
  main #spot .box_2,
  main #spot .box_4 {
    flex-direction: column-reverse;
  }
  main #spot .box_2 img,
  main #spot .box_4 img {
    width: 100%;
    margin-bottom: 32px;
  }
  main #spot .box_2 .description,
  main #spot .box_4 .description {
    width: 100%;
  }
  main #spot .box_2 .description .detail-btn,
  main #spot .box_4 .description .detail-btn {
    margin-top: 64px;
  }
  main .detail_gourmet .grid {
    display: flex;
    flex-direction: column;
  }
  main .detail_gourmet .grid .place-btn_1,
  main .detail_gourmet .grid .place-btn_2,
  main .detail_gourmet .grid .place-btn_3,
  main .detail_gourmet .grid .place-btn_4 {
    margin-bottom: 32px;
  }
  main .mainvisual_gourmet .title_gourmet {
    font-size: 32px;
    color: #fff;
  }
  main #access_spot .place_spot {
    flex-direction: column;
  }
  main #access_spot .place_spot .google-map {
    width: 100%;
    margin-bottom: 32px;
  }
  main #access_spot .place_spot .info {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */