body {
    font-family: "Playfair", serif;
    background-color: #f5f5f5;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.wrapper {
    padding-inline: 4%;
    margin-inline: auto;
}

header {
    width: 100%;

    .top {
        width: 100%;
        height: 100vh;
        background-image: url(../img/エンジェルロード\ \(2\).jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;

        .logo_title {
            width: 200px;
            height: auto;
        }
    }
}

.open .header-bar .toggle_btn span:first-child {
    transform: rotate(-315deg);
    top: 50%;
}

.open .header-bar .toggle_btn span:nth-child(2) {
    opacity: 0;
}

.open .header-bar .toggle_btn span:last-child {
    transform: rotate(315deg);
    top: 50%;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    width: 100%;
    background-color: #f5f5f5;

    .toggle_btn {
        position: relative;
        cursor: pointer;
        width: 100px;
        height: 100px;
        transition: all 0.5s;
        z-index: 30;
    }

    .logo-mark {
        .logo {
            width: auto;
            height: 100px;
        }

        .site-title {
            margin-left: 16px;
        }
    }

    .toggle_btn span {
        position: absolute;
        width: 100px;
        height: 1px;
        background-color: #000;
        transition: all .5s;
    }

    .toggle_btn span:first-child {
        top: 20%;
    }

    .toggle_btn span:nth-child(2) {
        top: 50%;
    }

    .toggle_btn span:last-child {
        top: 80%;
    }
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgb(128, 128, 128, 0.5);
    display: none;
}

.open .mask {
    display: block;
}

.navi {
    visibility: hidden;
    position: fixed;
    left: -300px;
    z-index: 100;
    top: 0;
    width: 600px;
    height: 100vh;
    text-align: center;
    padding: 128px 16px 0px 16px;
    transition: all .5s ease-in;
    background-color: #d3d3d3;

    ul {
        display: inline-block;

        li {
            font-size: 48px;
            margin-bottom: 32px;
            // border-top: 1px solid #000;
            border-bottom: 1px solid #000;
        }
    }

}

.navi_spot {
    visibility: hidden;
    position: fixed;
    left: -300px;
    z-index: 100;
    top: 0%;
    width: 600px;
    height: 100vh;
    text-align: center;
    padding: 128px 16px 0px 16px;
    transition: all .5s ease-in;
    background-color: #d3d3d3;

    ul {
        display: inline-block;

        li {
            font-size: 48px;
            margin-bottom: 32px;
            // border-top: 1px solid #000;
            border-bottom: 1px solid #000;
        }
    }

}

.open .navi {
    visibility: visible;
    left: 0px;
}

.open .navi_spot {
    visibility: visible;
    left: 0px;
}

main {

    .mainvisual {
        width: 100%;
        height: 1280px;
        margin-bottom: 128px;

        .background-img {
            width: 100%;
            height: 100%;
            background-image: url(../img/meiro\ 1.png);
            background-size: cover;
            background-position: top;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            p {
                font-size: 32px;
                color: #fff;
            }

            p:first-child {
                margin-top: 48px;
            }

            p:last-child {
                margin-left: 24px;
            }

            span {
                color: #6cccea;
                font-size: 48px;
            }
        }

    }

    .mainvisual_spot {
        width: 100%;
        margin-bottom: 128px;
        padding-top: 132px;

        .background-img_spot {
            background-image: url(../img/エンジェルロード.jpg);
            width: 100%;
            height: 100vh;
            background-size: cover;
            background-position: top;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .title_spot {
                font-size: 32px;
                color: #fff;
            }

            p {
                font-size: 24px;
                color: #fff;
            }
        }
    }

    .mainvisual_gourmet {
        @extend .mainvisual_spot;

        .background-img_gourmet {
            background-image: url(../img/shoyusoft.jpg);
            filter: brightness(90%);
            background-position: left;
            @extend .background-img_spot;
        }

        .title_gourmet {
            font-size: 48px;
            color: #fff;
        }
    }

    #about {
        margin-bottom: 128px;

        .sec-title {
            text-align: center;
            position: relative;
            font-size: 96px;
            color: #6cccea;
            text-decoration: underline;
            padding-bottom: 64px;
        }

        .contents {
            display: flex;
            justify-content: space-between;

            .text {
                width: 47%;
                padding-top: 128px;

                .bold {
                    font-size: 32px;
                    margin-bottom: 128px;
                    line-height: 48px;
                    text-decoration: underline;
                    text-decoration-color: #6cccea;
                    text-decoration-thickness: 4px;
                }

                p {
                    line-height: 48px;
                    font-size: 24px;
                }
            }

            .map {
                width: 50%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 75% 25%;
                    box-shadow: -10px 14px 12px 19px rgba(17, 17, 26, 0.08);
                }
            }
        }
    }

    #spot {
        margin-bottom: 128px;

        .sec-title {
            text-align: center;
            position: relative;
            font-size: 96px;
            color: #6cccea;
            text-decoration: underline;
            padding-bottom: 64px;
        }

        .box_1,
        .box_2,
        .box_3,
        .box_4 {
            display: flex;
            justify-content: space-between;
            margin-bottom: 64px;
            width: 100%;

            img {
                box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
                width: 50%;
                object-fit: cover;
            }

            .description {
                font-size: 20px;
                width: 47%;
                font-weight: normal;
                line-height: 32px;
                text-align: center;

                .description-title {
                    font-size: 32px;
                    margin-block: 32px;
                    text-align: center;
                    font-weight: bold;
                    position: relative;
                }

                .description-title::after {
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-color: transparent transparent transparent #000000;
                    border-width: 12px 0px 12px 20.78px;
                    top: -100%;
                    left: 0%;
                }

                .description-title::before {
                    position: absolute;
                    content: "";
                    width: 2px;
                    height: 60px;
                    background-color: #000;
                    top: -100%;
                    left: 0%;
                }

                p:last-child {
                    text-align: left;
                    padding-block: 64px;
                }

                .detail-btn {
                    text-align: center;
                    display: inline-block;
                    margin-top: 200px;
                    font-size: 24px;
                    padding: 16px 32px;
                    background-color: #ff9158;
                    color: #fff;
                    transition: all .5s;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }

    #gourmet {
        margin-bottom: 128px;

        .sec-title {
            text-align: center;
            position: relative;
            font-size: 96px;
            color: #6cccea;
            text-decoration: underline;
            padding-bottom: 64px;
        }

        .slider {
            width: 100%;
            height: auto;
            margin-inline: auto;
            display: flex;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin-inline: 16px;
            }
        }

        // .slick-next,
        // .slick-prev {
        //     position: relative;
        // }

        .slick-prev:before,
        .slick-next:before {
            color: #6cccea;
            font-size: 36px;
        }

        .slick-dots {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    #detail_spot {
        margin-bottom: 128px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 24px;

        p:first-child {
            position: relative;
            margin-inline: auto;
            text-align: center;
            width: 55%;
            margin-bottom: 32px;
        }

        p:first-child::after {
            position: absolute;
            content: "";
            width: 100px;
            height: 1px;
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
            background-color: #000;
            margin-left: 32px;
        }

        p:first-child::before {
            position: absolute;
            content: "";
            width: 100px;
            height: 1px;
            right: 100%;
            top: 50%;
            transform: translateY(-50%);
            background-color: #000;
            margin-right: 32px;
        }

        .first-title,
        .second-title {
            font-size: 32px;
            position: relative;
        }

        .first-title::before,
        .second-title::before {
            position: absolute;
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 8px;
            width: 160px;
            height: 10px;
            background: rgba(108, 204, 234, 0.5);
        }
    }

    .detail_gourmet {
        padding-bottom: 128px;

        p:first-child {
            text-align: center;
            font-size: 32px;
            margin-bottom: 64px;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 4%;

            .olive {
                width: 100%;
                text-align: center;
                display: grid;
                grid-template-rows: auto 1fr auto;

                img {
                    width: 100%;
                    height: 500px;
                    object-fit: cover;
                }

                .name {
                    font-size: 24px;
                    margin-block: 16px;
                }

                .description {
                    text-align: left;
                    margin-block: 16px;
                }

                .place-btn_1,
                .place-btn_2,
                .place-btn_3,
                .place-btn_4 {
                    display: inline-block;
                    padding: 16px 32px;
                    background-color: #ff9158;
                    color: #fff;
                    border-radius: 5px;
                    width: auto;
                    justify-self: center;
                    transition: all 0.5s;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }

    #access_spot {
        padding-bottom: 128px;

        .sec-title {
            text-align: center;
            position: relative;
            font-size: 96px;
            color: #6cccea;
            padding-bottom: 64px;
            text-decoration: underline;
        }

        .place_spot {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .google-map {
                width: 50%;
            }

            .info {
                display: flex;
                flex-wrap: wrap;
                font-size: 24px;
                width: 40%;

                dd {
                    width: 30%;
                    border-bottom: 1px solid #000;
                }

                dt {
                    width: 70%;
                    border-bottom: 1px solid #000;

                }
            }
        }
    }

    #access_gourmet {
        width: 100%;
        text-align: center;

        .sec-title {
            text-align: center;
            position: relative;
            font-size: 96px;
            color: #6cccea;
            text-decoration: underline;
            padding-bottom: 64px;
        }

        .flex {
            display: flex;
            justify-content: space-between;

            .map_gourmet {
                width: 50%;
                max-width: 800px;
                position: relative;

                img {
                    width: 100%;
                    height: auto;
                }

                #pin,
                %pin {
                    position: absolute;
                    cursor: pointer;

                    &-olive_1 {
                        @extend %pin;
                        right: 21%;
                        top: 16%;
                    }

                    &-olive_2 {
                        @extend %pin;
                        right: 42%;
                        top: 41%;
                    }

                    &-olive_3 {
                        @extend %pin;
                        right: 19%;
                        top: 18%;
                    }

                    &-olive_4 {
                        @extend %pin;
                        right: 23%;
                        top: 17%;
                    }

                    .pin-icon {
                        position: relative;
                        width: 20px;
                        height: 20px;
                        border-radius: 20px;
                        background: #e95464;

                        &:before {
                            position: absolute;
                            bottom: -7px;
                            left: 0px;
                            content: ' ';
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-color: #e95464 transparent transparent transparent;
                            border-width: 15px 10px 0 10px;
                        }

                        &:after {
                            position: absolute;
                            top: 5px;
                            left: 5px;
                            width: 10px;
                            height: 10px;
                            border-radius: 10px;
                            background: #fff;
                            content: ' ';
                        }
                    }
                }
            }

            .explanation {
                position: relative;
                text-align: right;
                width: 45%;

                &_1 {
                    position: absolute;
                    top: 10%;
                    right: -500px;
                }

                &_2 {
                    position: absolute;
                    top: 37%;
                    right: -500px;
                }

                &_3 {
                    position: absolute;
                    top: 63%;
                    right: -500px;
                }

                &_4 {
                    position: absolute;
                    top: 90%;
                    right: -500px;
                }
            }

            .explanation a {
                position: relative;
                display: none;
                background-color: #ff9158;
                padding: 16px 24px;
                border-radius: 20px;
                color: #fff;
                font-size: 28px;
                width: auto;
            }

            .explanation a::after {
                position: absolute;
                content: '';
                width: 0;
                height: 0;
                top: 90%;
                left: 95%;
                border-style: solid;
                border-color: #ff9158 transparent transparent transparent;
                border-width: 20.78px 12px 0px 12px;
            }

            .explanation a.active {
                right: 0;
                display: inline-block;
            }
        }


    }

    .contact {
        max-width: 600px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        padding-bottom: 64px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 128px;

        .sec-title {
            text-align: center;
            position: relative;
            font-size: 96px;
            color: #6cccea;
            text-decoration: underline;
            padding-bottom: 64px;
        }

        label {
            font-size: 32px;
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-bottom: 32px;
        }

        input[type="text"]:focus,
        input[type="email"]:focus,
        textarea:focus {
            border-color: #66afe9;
            outline: none;
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #ff9158;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover {
            background-color: #ffab8c;
        }
    }

}

#pin-olive_1.active,
#pin-olive_2.active,
#pin-olive_3.active,
#pin-olive_4.active {
    animation: bounce 3s ease;
}


footer {
    border-top: 1px solid #000;
    padding-top: 32px;

    img {
        width: 200px;
        height: auto;
    }

    .list-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;

        .footer-list {
            .list-title {
                font-size: 40px;
            }

            li {
                font-size: 16px;
                list-style: circle;
                margin-left: 24px;
                margin-bottom: 16px;
            }
        }
    }

    .copyright {
        text-align: center;
        padding-block: 24px;
    }
}


@keyframes bounce {
    0% {
        transform: scale(1);
        /* 初期スケール */
    }

    10% {
        transform: scale(3.0);
        /* 最大スケールアップ */
    }

    40% {
        transform: scale(2.0);
        /* 少し戻る */
    }

    50% {
        transform: scale(2.8);
        /* 再度スケールアップ */
    }

    60% {
        transform: scale(2.0);
        /* 更に少し戻る */
    }

    70% {
        transform: scale(2.3);
        /* 再度少しスケールアップ */
    }

    90% {
        transform: scale(1.5);
        /* また少し戻る */
    }
}

@media screen and (max-width:768px) {
    main {
        #about {
            .contents {
                flex-direction: column-reverse;

                .map {
                    width: 100%;
                }

                .text {
                    width: 100%;
                    padding-top: 32px;

                    .bold {
                        margin-bottom: 32px;
                    }
                }
            }
        }

        #spot {

            .box_1,
            .box_3 {
                flex-direction: column;

                img {
                    width: 100%;
                    margin-bottom: 32px;
                }

                .description {
                    width: 100%;

                    .detail-btn {
                        margin-top: 64px;
                    }
                }
            }

            .box_2,
            .box_4 {
                flex-direction: column-reverse;

                img {
                    width: 100%;
                    margin-bottom: 32px;
                }

                .description {
                    width: 100%;

                    .detail-btn {
                        margin-top: 64px;
                    }
                }
            }
        }

        .detail_gourmet {
            .grid {
                display: flex;
                flex-direction: column;

                .place-btn_1,
                .place-btn_2,
                .place-btn_3,
                .place-btn_4 {
                    margin-bottom: 32px;
                }
            }
        }

        .mainvisual_gourmet {
            .title_gourmet {
                font-size: 32px;
                color: #fff;
            }
        }

        #access_spot {
            .place_spot {
                flex-direction: column;
                .google-map {
                    width: 100%;
                    margin-bottom: 32px;
                }

                .info {
                    width: 100%;
                }
            }
        }
    }
}